<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->

<!-- Header and Navigation -->
<header class="nav_shadow bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
          <img src="/assets/images/horizons.png" alt="horizons_logo" id="logo" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menu
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="products">Products</a></li>
                <li><a class="dropdown-item" routerLink="offers">Offers</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="c-service">Customer Service</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about">Why Horizons</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-custom" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<!-- Footer -->
<div class="container">
  <footer class="py-5">
      <div class="row justify-content-center flex-wrap" id="foot_nav">
          <div class="col-2">
              <h5>Products</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">Annuities</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">Car Policy</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">Life Insurance</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">Heritage</a>
                </li>
              </ul>
          </div>

          <div class="col-2">
              <h5>About</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">About Us</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">Careers</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">Contact</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">Financial</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">News</a>
                </li>
              </ul>
          </div>
          <div class="col-2">
              <h5>Customer Service</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">FAQs</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">Support</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">Claims</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="" class="nav-link p-0 text-muted">Emergencies</a>
                </li>
              </ul>
          </div>

          <div class="col-4">
              <div class="text-center mb-4 text-muted">
                  <h5>A brighter future for you and the people you love<sup style="font-size: small;">®</sup></h5>
              </div>

              <div class="d-flex flex-column text-center">
                  <h5>Follow Us</h5>
                  <ul class="list-unstyled d-flex m-auto">
                    <li class="m-2">
                      <a href="">
                        <ion-icon name="logo-twitter"></ion-icon>
                      </a>
                    </li>
                    <li class="m-2">
                      <a href="">
                        <ion-icon name="logo-facebook"></ion-icon>
                      </a>
                    </li>
                    <li class="m-2">
                      <a href="">
                        <ion-icon name="logo-instagram"></ion-icon>
                      </a>
                    </li>
                    <li class="m-2">
                      <a href="">
                        <ion-icon name="logo-youtube"></ion-icon>
                      </a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="d-flex justify-content-between py-4 my-4 border-top">
          <p>© 2021 {{title}}. All rights reserved. Made by {{author}}.</p>
          <ul class="list-unstyled d-flex">
            <li>
              <a href="" class="ms-2 nav-link text-muted p-0">Accesibility Policy</a>
            </li>
            <li>
              <p class="ms-2 nav-link text-muted p-0">&#124;</p>
            </li>
            <li>
              <a href="" class="ms-2 nav-link text-muted p-0">Legal & Privacy</a>
            </li>
          </ul>
      </div>
  </footer>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> -->
